explanatory.ini:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
generate_GDM_files_arb_k.py filter=lfs diff=lfs merge=lfs -text
pk_res_lcdm_wzdr_vs_idmwzdr.png:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
python filter=lfs diff=lfs merge=lfs -text
Deviation_from_Bessel_CL.pdf filter=lfs diff=lfs merge=lfs -text
Sound_Speed_Plot_2.ipynb:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
plot_idm_wzdr.py filter=lfs diff=lfs merge=lfs -text
libclass.a:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
output filter=lfs diff=lfs merge=lfs -text
base_2015_plikHM_TT_lowTEB_lensing.ini filter=lfs diff=lfs merge=lfs -text
bbn filter=lfs diff=lfs merge=lfs -text
myselection.dat filter=lfs diff=lfs merge=lfs -text
temp.ini~ filter=lfs diff=lfs merge=lfs -text
temp.ini~:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
Deviation_from_Bessel_BG.pdf filter=lfs diff=lfs merge=lfs -text
Makefile:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
find_delta.ipynb filter=lfs diff=lfs merge=lfs -text
generate_GDM_files.py filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
source filter=lfs diff=lfs merge=lfs -text
Makefile~ filter=lfs diff=lfs merge=lfs -text
external filter=lfs diff=lfs merge=lfs -text
plot_CLASS_output.m filter=lfs diff=lfs merge=lfs -text
psd_FD_single.dat:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
Deviation_from_Bessel_CL.pdf:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
class filter=lfs diff=lfs merge=lfs -text
base_2018_plikHM_TTTEEE_lowl_lowE_lensing.ini:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
explanatory.ini filter=lfs diff=lfs merge=lfs -text
pk_lcdm_vs_wzdr_vs_idmwzdr.png:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
temp.ini:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
Deviation_from_Bessel_BG.pdf:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
README.md:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
DHS_FS_AS_bestfit.ini~ filter=lfs diff=lfs merge=lfs -text
notebooks filter=lfs diff=lfs merge=lfs -text
plot_CLASS_output.m:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
CLASS_rename.py filter=lfs diff=lfs merge=lfs -text
CPU.py filter=lfs diff=lfs merge=lfs -text
fig1.pdf filter=lfs diff=lfs merge=lfs -text
generate_GDM_files_arb_k.py:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
generate_GDM_files_modify_wzdr.py:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
myevolution.dat filter=lfs diff=lfs merge=lfs -text
myevolution.dat:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
pk_res_lcdm_wzdr_vs_idmwzdr.png filter=lfs diff=lfs merge=lfs -text
Bessel_T_diff.pdf:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
default.ini filter=lfs diff=lfs merge=lfs -text
temp.ini filter=lfs diff=lfs merge=lfs -text
background_wzdr_test.png filter=lfs diff=lfs merge=lfs -text
build filter=lfs diff=lfs merge=lfs -text
cpp filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
pk_ref.pre:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
Analytic_SW_for_Matteo.ipynb:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
Deviation_Bessel_T.pdf filter=lfs diff=lfs merge=lfs -text
class:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
fig1.pdf:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
fig2_noBessel.pdf:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
trial.ipynb filter=lfs diff=lfs merge=lfs -text
TRIAL_wzdr_idm.ini~ filter=lfs diff=lfs merge=lfs -text
base_2018_plikHM_TTTEEE_lowl_lowE_lensing.ini filter=lfs diff=lfs merge=lfs -text
Deviation_from_Boson_CL.pdf:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
background_wzdr_test.png:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
cl_permille.pre filter=lfs diff=lfs merge=lfs -text
cl_ref.pre:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
\#DHS_FS_AS_bestfit.ini\#:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
DHS_FS_AS_bestfit.ini:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
psd_FD_single.dat filter=lfs diff=lfs merge=lfs -text
error_Planck filter=lfs diff=lfs merge=lfs -text
plot.ipynb filter=lfs diff=lfs merge=lfs -text
Makefile~:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
cl_ref.pre filter=lfs diff=lfs merge=lfs -text
generate_GDM_files.py:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
plot.ipynb:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
CLASS_rename.py:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
DHS_FS_AS_bestfit.ini~:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
main filter=lfs diff=lfs merge=lfs -text
test filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
Analytic_SW_for_Matteo.ipynb filter=lfs diff=lfs merge=lfs -text
default.ini:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
TRIAL_wzdr_idm.ini~:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
base_2015_plikHM_TT_lowTEB_lensing.ini:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
fig2.pdf:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
fig2_noBessel.pdf filter=lfs diff=lfs merge=lfs -text
gdm_files filter=lfs diff=lfs merge=lfs -text
libclass.a filter=lfs diff=lfs merge=lfs -text
Bessel_T_diff.pdf filter=lfs diff=lfs merge=lfs -text
Deviation_Bessel_T.pdf:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
plot_idm_wzdr.py:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
many_times.py filter=lfs diff=lfs merge=lfs -text
pk_ref.pre filter=lfs diff=lfs merge=lfs -text
myselection.dat:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
TRIAL_wzdr_idm.ini:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
generate_GDM_files_modify_wzdr.py filter=lfs diff=lfs merge=lfs -text
DHS_FS_AS_bestfit.ini filter=lfs diff=lfs merge=lfs -text
Deviation_from_Boson_CL.pdf filter=lfs diff=lfs merge=lfs -text
TRIAL_wzdr_idm.ini filter=lfs diff=lfs merge=lfs -text
cl_permille.pre:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
fig2.pdf filter=lfs diff=lfs merge=lfs -text
pk_lcdm_vs_wzdr_vs_idmwzdr.png filter=lfs diff=lfs merge=lfs -text
\#DHS_FS_AS_bestfit.ini\# filter=lfs diff=lfs merge=lfs -text
CPU.py:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
